.header-cover {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  margin-top: 100px;

}
.container h2 {
    margin-top: 140px;
    margin-left: 40px;
    width: 500px;
    font-size: 50px;
    font-weight: 700;
    color: white
}

.img {
    width: 600px;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 50px;

}