.link  a {
    text-decoration: none;
    font-size: 20px;
     color: black; 
     font-weight: 700;
}
.link {
    border: 2px solid beige;
    width: 150px;
    height: 70px;
    padding: 15px 30px;
    background-color: lavender;
    box-shadow: 5px 10px whitesmoke;
    border-radius: 10px;
    margin-bottom: 25px;
}
.leftside-div {
    margin-top: 100px;
    background-color: beige;
    padding-left: 120px;
    border: 3px solid #0000001a;
    border-radius: 10px;
}
.leftside-title {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
    font-weight: 800;
}